.dom-portal-hook h3 {
	color: crimson !important;
	/* background-color: green !important; */
}

#portal {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#portal p {
	font-size: calc(10px + 2vw);
}
