.App {
	text-align: center;
}

.App-logo {
	height: 10vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.todo-item {
	font-size: 16px;
	text-align: left;
}

.todo-item.done {
	text-decoration: line-through;
	color: gray;
}

.list {
	padding: 10px 25px;
}

.list.dark-theme {
	background-color: #1f2125;
}

.list.light-theme {
	background-color: lightblue;
	color: black;
}