/* .App {
	text-align: center;
} */

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #282c34;
}

.App-logo {
	height: 10vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	font-size: calc(10px + 1.1vmin);
	color: white;
	margin-bottom: 50px;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

p, h1, h2, h3, h4, h5 {
	margin: 10px auto;
}

.on-events-examples input {
	width: 100%;
	font-size: 1em;
}

.on-events-examples .events-box {
	display: inline-block;
	width: 200px;
	height: 90px;
	text-align: center;
	line-height: 90px;
	background-color: #a73c3c;
	color: white;
}

